.hero {
    position:relative;
    height: 70vh;
    background: url('../images/footwear\ lab.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero-heading{
    color:white;
    font-size: 3em;
}
.EandC{
    display:flex;
    justify-content: space-between;
    gap:20px;
}
.essential,.classic{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.essential img,.classic img{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    margin:0;
}
.button{
    position:relative;
    top:10px;
    text-align:center;
    background-color: black;
    color:white;
    border:10px solid black;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.button:hover {
    background-color: white;
    color: black;
    border-color: white;
}
.essential p, .classic p{
    display:flex;
    justify-content: center;
    font-size:1.5em;
    font-family:'Montserrat', sans-serif;

}
.MandHTES{
    display:flex;
    justify-content: space-between;
    gap:20px;
}
.Minimal,.HTES{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.Minimal img,.HTES img{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    margin:0;
}
.Minimal p, .HTES p{
    display:flex;
    justify-content: center;
    font-size:1.5em;
    font-family: "Montserrat", sans-serif;
}
.footer{
    background-color: black;
    color:white;
    text-align:center;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-icon img{
       width:30px;
       height:auto;
       margin:10px 0;
       justify-content: center;
}
@media(max-width:768px){
    .hero{
        height:50vh;
    }
    .hero-heading{
        font-size: 2em;
    }
    .EandC,.MandHTES{
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    .essential img, .classic img, .Minimal img, .HTES img {
        width: 80%;
    }
}
@media(max-width:480px){
    .hero-heading {
        font-size: 1.5em;
    }
    .button {
        font-size: 14px;
        padding: 10px;
    }
}
