.hero {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full viewport width */
    overflow: hidden; /* Prevent extra content spill */
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-heading {
    font-size: 3em; /* Increase font size */
    color: white;
    text-align: center;
    z-index: 2;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.hero-content {
    position: relative;
    z-index: 2;
}
.jacketandchino {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.jacket,.chino{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.jacket img,.chino img{
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
    margin:0;
}
.jacket h3,.chino h3{
    font-size:1.5em;
    font-family:'Montserrat', sans-serif;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.button:hover {
    background-color: #555;
}
@media (max-width: 768px) {
    .hero-heading {
        font-size: 2.5em; /* Adjust font size for smaller screens */
    }
    .jacketandchino {
        flex-direction: column;
        align-items: center;
    }
    .jacket, .chino {
        margin-bottom: 20px;
    }
}
@media (max-width: 480px) {
    .hero-heading {
        font-size: 2em; /* Adjust font size for smaller screens */
    }
}