.hero {
    position:relative;
    height: 70vh;
    background: url('images/EssenSneaimg.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sub-text{
    color:white;
    font-size: 3em;
}
.hero-heading{
    color:white;
    padding-bottom:-20px;
    font-size: 2em;
    margin-bottom: -30px;
}
#shoe-header{
    display:flex;
    justify-content: center;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
