.hero {
    position:relative;
    height:100vh;
    background: url('images/EssenSneaimg.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sub-text{
    color:white;
    font-size: 3em;
}
.hero-heading{
    color:white;
    padding-bottom:-20px;
    font-size: 2em;
    margin-bottom: -30px;
}
#shoe-header{
    display:flex;
    justify-content: center;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
.product-image h3{
       display:flex;
       justify-content: center;
       align-items: center;
}
label{
    display:block;
    font-weight:bold;
    margin-bottom:20px;
}
select{
    padding:10px;
    font-size:16px;
    width: 100%;
    max-width:200px;
    margin-bottom:20px;
}
.btn-add-to-cart {
    display: flex;
    padding: 12px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.btn-add-to-cart:hover {
    background-color: #333;
}
.reviews-section{
    background-color: #f9f9f9;
    padding:40px;
    text-align:center
}
.review-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap:20px;
}
.review{
    max-width:300px;
    margin:0px 10px;
    padding:20px;
    border:1px solid #ddd;
    background-color: white;
    text-align:left;
}
.review-text{
    font:italic;
    margin-bottom: 10px;
}
.review-author{
    font-weight: bold;
    color:black;
    text-align: right;
}
.hero-Men-Classic-Sneaker {
    position:relative;
    height: 100vh;
    background: url('images/classicsneaker.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-Men-Minimal-Sneaker{
    position:relative;
    height: 100vh;
    background: url('images/Men-Minimal-Sneaker-hero.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-Men-High-Top-Essential-Sneaker{
    position:relative;
    height: 100vh;
    background: url('images/Men-High-Top-Essential-Sneaker-hero.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-Women-Classic-Sneaker{
    position:relative;
    height: 100vh;
    background: url('images/Women-Classic-Sneaker.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-Women-Essential-Sneaker{
    position:relative;
    height: 100vh;
    background: url('images/Women-essential-Sneaker-hero.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
