.hero {
    position:relative;
    height: 70vh;
    background: url('images/Women-image.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-heading{
    color:white;
    font-size: 3em;
}
.desc{
    display: flex;
    color:white;
}
#btn{
    position:relative;
    top:10px;
    text-align:center;
    background-color: black;
    color:white;
    border:10px solid black
}
.background-section{
    position:relative;
    background-image: url("premium-white2.jpg");
    background-size: cover;
}
#overlap{
    position:relative;
    background-color: white;
    color:black;
    justify-content: center;
    align-items:center;
    padding:20px;
}
.desc1{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
} 

